# Requirements file used to install latest, which we then freeze.

# sphinx
Sphinx
breathe
sphinxemoji

# mkdocs
mkdocs
mkdocs-material
mkdocs-material-extensions
pymdown-extensions

# scripts
scons
doit
colorama
